body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222; 
  }
  h1, h2, h3 {
      margin: 0px;
  }
  
    *{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100%;
    background-color: #1E1E1E;
    box-sizing: border-box;
  }

.white-text {
    color: white;
}

.navBar {
    height:75px;
}

.navBar > a {
    font-size: 40px;
}


.logoTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 40px 0px 0px 20px;
    flex-wrap: wrap;
}


@media (max-width: 1000px) {
    .main-container{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 40px 0px 0px 20px;
        flex-wrap: wrap;
    }
}

.assassins-logo {
    width: 400px;
    height: 450px;
}

.contract-logo {
    width: 450px;
    height: 450px;
}

/*           assassins.html specific            */
.body-container  h2 {
    margin: 35px 0px 15px 0px;
}

.body-container {
    position: relative;
    width: 80%;
    margin: 30px auto 0px auto;
    padding: 0 20px;
    box-sizing: border-box; 
}

  /* For devices larger than 550px */
  /* @media (max-width: 550px) {
    .body-container {
      width: 80%; }
    .column,
    .columns {
      margin-left: 4%; }
    .column:first-child,
    .columns:first-child {
      margin-left: 0; }
} */


.assassinButtonParams {
    margin: 0px 10px;
}

#icons i{
    margin: 0px 10px;
}

.iconFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    margin: 10px 10px 10px 10px;
    display: flex; 
    align-items: center;
}

.mainContainer {
    display: flex; 
    justify-content: space-between; 
    margin: 40px 0px 60px 0px;
}

.flex {
    display: flex;
}

.btn-container { 
    display: flex; 
    height: 50px; 
    align-items: center; 
    flex-wrap:wrap;
}

.imgSizing {
    height: 150px; 
    width: 150px;
}

.infoContainer{
    margin-left: 30px;
}

.infoTitle {
    margin-bottom: 15px;
}

